/Users/Derek/Documents/Java_Projects/Movies_Maven_Project/Movie_Ticketing_Site/.classpath
/Users/Derek/Documents/Java_Projects/Movies_Maven_Project/Movie_Ticketing_Site/.DS_Store
/Users/Derek/Documents/Java_Projects/Movies_Maven_Project/Movie_Ticketing_Site/.project
/Users/Derek/Documents/Java_Projects/Movies_Maven_Project/Movie_Ticketing_Site/.settings
/Users/Derek/Documents/Java_Projects/Movies_Maven_Project/Movie_Ticketing_Site/target